
@import url('https://fonts.googleapis.com/css?family=Raleway');


/* GENERAL */

body{
    background-color: white;
    font-family: Raleway ,sans-serif;
}
h1,h2,h3,h4,h5,h6{
    color:#424242;

}
a:hover, a:focus{
    text-decoration: none;
}
.btn{
    border:1px solid #fff;
    padding:10px 30px;
    border-radius: 30px;
    color:#fff;
    background: transparent;
    transition: 200ms;
    font-weight: 700;
}
.btn:hover{
    background: #fff;
    color:#0f0f0f;
}
.carousel-control{
    background-image: none !important;
}
.btn.btn-primary{
    border-color: #1d252c;
    color:#1d252c;
}
.btn.btn-primary:hover{
    background-color:#1d252c;
    color:#fff;
}
.ui-loader{
    display: none;
}
.modal-content{border-radius: 0px;}

/* HELPER CLASSES */

.v-center{
    display: table;
}
.v-center-inner{
    display: table-cell;
    vertical-align: middle;
}


/* HEADER */

.header{
    background-image: url("../images/header-background.jpg");
    width:100%;
    height:540px;
    background-position: center;
}
.header-alt{
    background-image: url("../images/header.jpg");
    width:100%;
    height:103px;
    background-position: center;
    margin-bottom: 40px;
}
.navbar-brand{padding:15px 0px;}
.navbar-class>li>a{
    color:white;
    padding: 30px 5px;
    text-decoration: none;
}
.navbar-class>li>a>span{
    padding: 0px 5px;
}
.navbar-class>li>a:hover{
    text-decoration: none;
    background-color: transparent;
}
.navbar-class>li>a::after{
    display: block;
    content: '';
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
    transform: scaleX(0.0001);
    transition: transform 250ms ease-in-out;
    margin-top: 10px;
    border-radius: 5px;
}
.navbar-class>li>a:hover::after{
    transform: scaleX(1);
    border-color: #56c6aa;
}
.nav>li>a:focus, .nav>li>a:hover{
    background-color: transparent;
}
.sticky-nav{
    position: static;
    z-index: 9;
    transition: 200ms;
}
.sticky-nav.open{
    position: fixed;
    width:100%;
    background: #fafafa;
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.5);
}
.sticky-nav.open .navbar-class>li>a{
    color:#424242;
    padding: 25px 5px 0px 5px;
}
.sticky-nav.open .logo{
    background-image: url("../images/logo-inverse.png");
}

.sticky-nav.open .hamburger-inner, .sticky-nav.open .hamburger-inner:after, .sticky-nav.open .hamburger-inner:before{
    background-color: #424242;
}

.sticky-nav.open .home-button svg path{
    fill: #424242;
}
.logo{
    width:170px;
    height:45px;
    background: url("../images/logo.png") no-repeat;
    background-size: 170px;
    height:45px;
}
.menu-button{
    margin-top:7px;
    text-align: right;
}
.home-button{
    text-align: right;
    margin-top: 17px;
}
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before{
    background-color: #fff;
}
.hamburger{
    position: absolute;
    right:0;
    transition-property: opacity,filter,right;
}
.hamburger.is-active {
    position: fixed;
}
.sliderhero .arrow svg{
    width:28px;
    top: 50%;
    position: absolute;
    margin-top: -51px;
}
.sliderhero .item{min-height: 456px}
.sliderhero img.bottom{
    position: absolute;
    bottom:0;
}
.sliderhero .slide-img{
    margin-top: 20px;
    max-width: 100%;
}
.sliderhero .carousel-indicators{
    bottom:30px;
}
.sliderhero .caption{
    margin-top: 60px;
    color:#fff;
}
.sliderhero .caption .title{
    font-weight: 700;
    color:#fff;
}
.sliderhero hr{
    width:100px;
}
.sliderhero .btn{
    margin-top:15px;
}


/* SERVICES */

.services{
    background-color: #fafafa;
    text-align:center;
    padding-bottom: 60px;
    padding-top:30px;
}
.services ul{
    list-style: none;
    padding-left:0px;
}
.services p, .customer p, .about-us p, .projects p{
    color: #424242;
    margin-bottom:25px;
}
.services .icon{
    max-height: 48px;
    margin-top:20px;
    margin-bottom:10px;
}
.services h4{font-weight: 700;}


/* CUSTOMERS */

.customers{
    background-color: white;
    text-align:center;
    padding:50px 0px 60px 0px;
}
.customers .slide{
    margin-top:30px;
}
.customers a img{
    display:table-cell;
    margin:0 auto;
    vertical-align:middle;
    max-width: 100%;
    max-height: 35px;
    transition: 200ms;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.customers a:hover img{
    -webkit-filter: grayscale(1%); /* Safari 6.0 - 9.0 */
    filter: grayscale(1%);
}
.customers .slide .carousel-indicators{
    position: static;
    bottom:0;
    margin-top:30px;
    width:100%;
    margin-left:0px;
}
.customers .slide .carousel-indicators li{
    border-color:#ddd;
    margin:0px 10px;
    width:150px;
    height:5px;
    border:none;
    background-color: #ddd;
}
.customers .slide .carousel-indicators .active{
    background-color: #1d252c;
}
.customers .slide .arrow {
    display: block;
    height: 120px;
}
.customers .slide .arrow svg {
    width: 28px;
    margin-top:6px;
}
.brand{
    width: 100%;
    height:60px;
}


/* ABOUT US */

.about-us{
    background-color: #fafafa;
    text-align:center;
    padding-top: 30px;
    padding-bottom:120px;
    background-image: url("../images/about-us-half-logo.png");
    background-repeat: no-repeat;
    background-position: center 215px;
}


/* PROJECTS */

.projects{
    padding-top: 40px;
    padding-bottom:60px;
    background-color:white;
    text-align:center;
}

.projects-gallery a{
    display:block;
    transition: 200ms;
    margin-bottom: 30px;
}
.projects img{
    max-width:100%;
}
.projects-gallery a:hover{
    -webkit-box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.3);
}
.allprojects{
    border:1px solid #424242;
}
.allprojects img{
}


/* PROJECTS PAGE */

.project-images{
    margin-top: 30px;
    margin-bottom: 60px;
}
.project-images a:hover{
    -webkit-box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.3);
}
.project-images h4{
    background-color: #fafafa;
    margin-top:0px;
    padding:15px 5px;
    color:#424242;
}
.project-images img{
    width:100%;
}
.project-images a{
    text-decoration: none;
    transition: 200ms;
    display: block;
    margin-bottom: 30px;
}
.project-p{
    margin-bottom:30px;
}


/* PROJECT PAGE */
.project-detail{
    margin-top:40px;
    margin-bottom: 60px;
}
.project-brand{
    border:1px solid #ddd;
}
.project-prensentation{
    max-width:100%;
}
.project-caption{
    text-align: right;
}
/* FOOTER */

.apply-now{
    background-color:#161616 ;
}
.apply-now span {
    color: white;
    font-weight: 700;
    margin:15px 0px;
    display: block;
}
.apply-now a{
    text-decoration: none;
    background-color: #424242;
    color:white;
    float: right;
    font-weight: 700;
    padding:15px 20px;
}
.contacts{
    background-image: url("../images/footerbg.jpg");
    width:100%;
    background-position: center;
}
.maps{
    padding:40px 0px;
    color: white;
}
.maps .btn{
    margin-top:30px;
}
.maps span{
    display: block;
}
.footer-right{
    text-align: right;
}


/* PANEL */
.panel {
    position: fixed;
    right: -15.625em; /*left or right and the width of your navigation panel*/
    width: 15.625em; /*should match the above value*/
    background: #ddd;
    border-radius: 0px;
    border-left: 7px solid #bfbfbf;
}
.panel ul{
    width:100%;
    padding: 0px 15px;
    list-style: none;
}
.panel h3{
    padding-left:15px;
}
.panel ul li a{
    color:#424242;
    font-weight: 700;
    padding:15px 0px;
    display: block;
    border-bottom: 1px solid #9d9d9d;
}
.wrap {
    position: relative;
}


/* RESPONSIVE */

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .sliderhero .item {
        margin-top:70px;
        min-height: 356px;
    }
    .project-images h4{
        font-size:14px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .header-alt{
        height:76px;
    }
    .sliderhero .caption{
        margin-top:10px;
    }
    .sliderhero .item {
        margin-top:0px;
    }
    .sliderhero .slide-img{
        width:350px;
        display: block;
        margin:10px auto 0 auto;
    }
    .customers .slide .arrow {
        display: inline !important;
        height:auto;
        margin:0 15px;
    }
    .customers .slide .arrow.hidden-xs {
         display: none !important;
    }
    .customers .slide .arrow svg{
        width:15px;
    }
    .customers .slide .carousel-indicators li{
        width:30px;
        margin:0 5px;
    }

    .apply-now span {
        text-align: center;
    }
    .apply-now a{
        float:none;
        text-align: center;
        display: block;
        margin-bottom: 15px;
    }
    .maps, .maps .footer-right{
        text-align: center;
    }
    .project-caption{
        text-align: center;
        margin-bottom: 50px;
    }
    .project-brand img{
        margin: 0 auto;
    }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .about-us{
        -webkit-background-size: 500px;
        background-size: 500px;
        background-position: center 240px ;
        height: 310px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}